# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\进阶课程\黑马程序员课件\最新14天学会JavaWeb（高效学习版）\JavaWeb-资料\day10-JSP(1)\day10-JSP\代码\jsp-demo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
