# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\进阶课程\黑马程序员课件\1、黑马程序员SaaS移动办公iHRM人力资源管理系统\day9\代码\qiniu-test\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
